@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    font-family: 'Poppins',sans-serif;
    color: #222;
}

.navbar-fixed-top {
    margin-bottom: 80px; 
}

iframe {
    margin-top: 80px; 
}

/* "三个未来计划"  */
.container-fluid .row.text-center [class="display-4"] {
    font-weight: bold;
    margin-top: 50px;
}
.container-fluid .row.text-center [class="lead"] {
    padding: 30px 20px;
}

.container-fluid .row.text-center [class^="col-"] h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.container-fluid .row.text-center [class^="col-"] p {
    font-size: 18px; 
}
.col-xs-12 img {
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
.col-sm-12 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}





.jumbotron [class="display-3"]{
    font-weight: bold;
}

.btn-primary{
    background-color: #B47752;
    border: 1px solid #B47752;
}

.btn-primary :hover{
    background-color: #a06440;
    border: 1px solid #a06440;
}

footer{
    background-color: #3f3f3f;
    color:#d5d5d5;
    padding-top: 2rem;
}

.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
}